<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Index page</title>
</head>
<body>
    <h1>Command list:</h1>
    <a href="{% url 'current_time' %}"><button>Current time</button></a>
    <br>
    <br>
    <a href="{% url 'work_dir' %}"><button>Work dir</button></a>
</body>
</html>